{% extends "base.html" %}

{% block content %}
    {% if current_user.is_admin %}
        <a href="{{ url_for('create_group') }}">Create Group</a>
    {% endif %}
    <h1>Groups List</h1>
    <form action="" method="POST">
        {% for group in groups %}
        <table>
            <tr valign="top">
                <td>
                    <a href="{{ url_for('view_group', group_id=group.id) }}">
                    {{ group.name}}
                    </a>
                </td>
            </tr>
            <tr>
                <td><strong>Standard: </strong> {{ group.standard }}</td>
            </tr>
            {% if group.prerequisite_groups %}
            <tr>
                <td>
                    <strong>Prerequisite Groups: </strong>
                    {% for prerequisite in group.prerequisite_groups %}
                        {{ prerequisite.prerequisite_group.name }} &nbsp;
                    {% endfor %}
                </td>
            </tr>
            {% endif %}
        </table>
        <br>
        {% endfor %}
    </form>
{% endblock %}