{% extends "base.html" %}

{% block content %}
    <table>
        <tr valign="top">
            <td>
                <h1>{{ group.name }}</h1>
                <a href="{{ url_for('edit_group', group_id=group.id) }}">Edit</a>
            </td>
        </tr>
        <tr>
            <td><strong>Standard: </strong> {{ group.standard }}</td>
        </tr>
        <tr>
            <td>
                <strong>Prerequisite Groups: </strong>
                {% if group.prerequisite_groups %}
                <ul>
                    {% for prerequisite in group.prerequisite_groups %}
                        <li>{{ prerequisite.prerequisite_group.name }}</li>
                    {% endfor %}
                </ul>
                {% else %}
                    <p>No prerequisite groups</p>
                {% endif %}
            </td>
        </tr>
        <tr>
            {% if current_user.is_admin %}
            <td>
                <form action="{{ url_for('delete_group', group_id=group.id) }}" method="POST" style="display:inline;">
                    <input type="submit" value="Delete">
                </form>
            </td>
            {% endif %}
        </tr>
    </table>
{% endblock %}